
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# virtual environments
.venv/
venv/
env/
ENV/
.ENV/
.python-version

# python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ide
.vscode/
.idea/
