.responsive-text{
    font-size: 60px;

}

@media(max-width:768px){
    .responsive-text{
        font-size: 25px;
    }
}

@media(max-width:480px){
    .responsive-container{
        font-size: 10px;
    }
}